.reveal .clear {clear:both;}
.reveal .invisible {visibility: hidden;}
.reveal .color-1 {color: #EEEEEE;}
.reveal .color-2 {color: #4096EE;}
.reveal .color-3 {color: #006E2E;}
.reveal .color-4 {color: #FFFF88;}
.reveal .color-5 {color: #FF0084;}
.reveal .color-6 {color: #C3D9FF;}
.reveal .color-7 {color: #FF1A00;}
.reveal .color-8 {color: #FF7400;}
.reveal .color-9 {color: #008C00;}
.reveal .color-10 {color: #B02B2C;}
.reveal .color-11 {color: #6BBA70;}
.reveal .color-12 {color: #356AA0;}
.reveal .color-13 {color: #D01F3C;}
.reveal .color-14 {color: #CDEB8B;}
.reveal #lib-cloud {height: 500px;}
.reveal #lib-cloud .size1{font-size: 12px;}
.reveal #lib-cloud .size1.visible{opacity: 0.30;}
.reveal #lib-cloud .size2{font-size: 16px;}
.reveal #lib-cloud .size2.visible{opacity: 0.60;}
.reveal #lib-cloud .size3{font-size: 22px;}
.reveal #lib-cloud .size3.visible{opacity: 0.80;}
.reveal #lib-cloud .size4{font-size: 30px;}
.reveal #lib-cloud .size4.visible{opacity: 1.00;}
.reveal h3 {color: #E3CEAB;}
.reveal #multi-column-based {margin-bottom: 40px;}
.reveal #multi-column-based table {margin: 0 auto;width: 60%;border: 1px solid grey;border-collapse: collapse;}
.reveal #multi-column-based table td {border: 1px solid grey;text-align: center;}
.reveal .slides section .fragment.remove.visible {display:none;}

.reveal .replication .datacenter {
	border: 1px solid grey;
	padding : 10px;
	margin: 0 auto;
	text-align: center;
}

.reveal .replication .datacenter .server-group {
	display: inline-block;
	border: 1px solid grey;
	padding: 20px;
	margin-right: 20px;
}

.reveal .replication .datacenter .server-group:last-of-type {
	margin-right: 0;
}

.reveal .replication .datacenter .server {
	width: 85px;
	display:inline-block;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
}

.reveal .replication .datacenter .server:last-of-type {
	margin-right: 0;
}

.reveal .replication .datacenter .server .cell {
	height:30px;
	border-bottom: 1px solid grey;
	font-size: 60%;
	padding-bottom: 5px;
}

.reveal .replication .datacenter .server .cell.only-large {
	display:none;
}

.reveal .replication .datacenter .server.large .cell.only-large {
	display:block;
}

.reveal section.text p {
	text-align: left;
}